/* Universal Selector */
* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

a{
    text-decoration: none;
    text-emphasis: strong;
}
body {
    color: white;
    background-color: black;
    background-image: url(pattern-17.jpg);
    background-repeat: repeat-y repeat-x;
    background-size: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.box {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;

}

#profile-pic {

margin: 10px;
border-image: 10px, solid;
padding: 10px;
border-color: black;
margin-block: 15px;

}

#textbox {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    /*padding-top: 10px;
    padding-bottom: 10px;
    margin: 25px;*/
}

.li {
   /* margin: 15px;*/
    list-style: georgian inside;
}

#list-text {
    text-align: left;
}
/* Form Element Selectors -- used HTML, CSS & Javascript for Dummies to understand forms */
#form1 .labels label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
